.navbar {
  width: 100%;
  background-color: #FFB874;
  height: 4em;
  display: flex;
    display-justify-content: center; }
  .navbar .projectName {
    font-size: 1.5em;
    align-self: center;
    margin-left: 5%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 300; }
    .navbar .projectName a {
      color: #3C3C3C;
      text-decoration: none; }
