.symptoms .input {
  display: flex;
  align-items: center;
  justify-content: center; }

.symptoms .Button {
  background: none;
  border: none;
  font-size: 1em;
  border-radius: 1.5em;
  font-weight: 200; }

.symptoms .option {
  background-color: #FFB874; }

.symptoms .options {
  width: 50%;
  display: inline; }

.symptoms .chosen {
  width: 50%;
  display: inline; }
  .symptoms .chosen .Symptom {
    display: inline; }
  .symptoms .chosen button {
    display: inline; }

.symptoms .hide {
  display: none; }
